<div class="container"> 

    <div class="mb-2"> 
        <div>
            <button class="btn btn-outline-primary mb-2 me-2" (click)="isCollapsed = !isCollapsed">
                Filter
            </button>
            <button class="btn btn-outline-secondary mb-2" (click)="ResetFilters()" [hidden]="!filtering">
                Reset
            </button>
        </div>

        <div [collapse]="isCollapsed" [isAnimated]="true">
            <div class="border mb-2 shadow-sm" style="width: 250px;"> 
                <form> 
                    <div class="row mx-0">
                        <div class="col">
                            <small><b> 
                                Languages:
                                <div class="form-group">
                                    <div class="form-check">
                                        <input 
                                        type = "checkbox" 
                                        class = "form-check-input position-static me-2"
                                        [(ngModel)]="python"
                                        (change)="Filter()"
                                        name="Python"> 
                                        <label class = "form-checl-label small">Python</label>
                                    
                                    </div>
                                    <div class="form-check">
                                        <input 
                                        type = "checkbox" 
                                        class = "form-check-input position-static me-2"
                                        [(ngModel)]="java"
                                        (change)="Filter()"
                                        name="Java"> 
                                        <label class = "form-checl-label small">Java</label>
                                    </div>
                                    <div class="form-check">
                                        <input 
                                        type = "checkbox" 
                                        class = "form-check-input position-static me-2"
                                        [(ngModel)]="javascript"
                                        (change)="Filter()"
                                        name="JavaScript"> 
                                        <label class = "form-checl-label small">JavaScript</label>
                                    </div>
                                    <div class="form-check">
                                        <input 
                                        type = "checkbox" 
                                        class = "form-check-input position-static me-2"
                                        [(ngModel)]="typescript"
                                        (change)="Filter()"
                                        name="TypeScript"> 
                                        <label class = "form-checl-label small">TypeScript</label>
                                    </div>
                                    <div class="form-check">
                                        <input 
                                        type = "checkbox" 
                                        class = "form-check-input position-static me-2"
                                        [(ngModel)]="html"
                                        (change)="Filter()"
                                        name="HTML"> 
                                        <label class = "form-checl-label small">HTML</label>
                                    </div>
                                    <div class="form-check">
                                        <input 
                                        type = "checkbox" 
                                        class = "form-check-input position-static me-2"
                                        [(ngModel)]="css"
                                        (change)="Filter()"
                                        name="CSS"> 
                                        <label class = "form-checl-label small">CSS</label>
                                    </div>
                                    <div class="form-check">
                                        <input 
                                        type = "checkbox" 
                                        class = "form-check-input position-static me-2"
                                        [(ngModel)]="kotlin"
                                        (change)="Filter()"
                                        name="Kotlin"> 
                                        <label class = "form-checl-label small">Kotlin</label>
                                    </div>
                                    <div class="form-check">
                                        <input 
                                        type = "checkbox" 
                                        class = "form-check-input position-static me-2"
                                        [(ngModel)]="sql"
                                        (change)="Filter()"
                                        name="SQL"> 
                                        <label class = "form-checl-label small">SQL</label>
                                    </div>
                                </div>
                            </b></small> 
                        </div>
                        <div class="col">
                            <small><b> 
                                Frameworks:
                                <div class="form-group">
                                    <div class="form-check">
                                        <input 
                                        type = "checkbox" 
                                        class = "form-check-input position-static me-2"
                                        [(ngModel)]="angular"
                                        (change)="Filter()"
                                        name="Angular"> 
                                        <label class = "form-checl-label small">Angular</label>
                                    </div>
                                    <div class="form-check">
                                        <input 
                                        type = "checkbox" 
                                        class = "form-check-input position-static me-2"
                                        [(ngModel)]="react"
                                        (change)="Filter()"
                                        name="React"> 
                                        <label class = "form-checl-label small">React</label>
                                    </div>
                                    <div class="form-check">
                                        <input 
                                        type = "checkbox" 
                                        class = "form-check-input position-static me-2"
                                        [(ngModel)]="libgdx"
                                        (change)="Filter()"
                                        name="LibGDX"> 
                                        <label class = "form-checl-label small">LibGDX</label>
                                    </div>
                                    <div class="form-check">
                                        <input 
                                        type = "checkbox" 
                                        class = "form-check-input position-static me-2"
                                        [(ngModel)]="nodejs"
                                        (change)="Filter()"
                                        name="Node.js"> 
                                        <label class = "form-checl-label small">Node.js</label>
                                    </div>
                                </div> 
                            </b></small> 
                        </div>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row"> 
        <div *ngFor="let project of projects" class="col-lg-4 col-md-6 mb-4" style="max-width: 380px; min-width: 380px;">
            <app-project-card [project]="project"></app-project-card>
        </div>
    </div>
</div>